body{
    background-color: aliceblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
  }
  
  header{
      border-bottom: 1px solid aliceblue;
      padding: 0 0 30px  ;
  }
  
  
  .vanilla-weatherapp{
     background-color: white; 
     max-width: 800px;
     padding: 30px;
     margin: 50px auto;
     border-radius: 20px;
  }
  
  .search-input{
      background-color:aliceblue ;
      border-radius: 6px;
      border: none;
      width: 80%;
      font-size: 20px;
      padding: 12px 16px;
  }
  
  .search-button{
      background-color:rgb(64, 61, 235) ;
      padding: 14px 18px;
      border:none;
      font-size: 15px;
      margin-left: 6px;
      border-radius: 6px;
      color: white;
  }
  
  
  .vanillaweather-app{
      display: flex;
      justify-content: space-between;
  }
  
  .weather-city{
      margin: 0;
      font-size: 30px;
      line-height: 48px;
  }
  .weather-detail{
      font-size: 16px;
      line-height: 20px;
      
  }
  
  .weather-detail strong{
      color: rgb(241, 47, 112);
  }
  
  .weathertemp-container{
      display: flex;
  }
  
  .weather-icon{
      width: 88px;
      height:88px;
      
  }
  .weather-temp{
      font-size: 80px;
      font-weight: bold;
      margin-left: 10px;
      line-height: 88px;
  }
  
  .weather-unit{
      font-size: 28px;
      margin-top: 6px;
  }
  main{
      padding: 30px 0; 
   }
  
  footer{
      border-top: 1px solid aliceblue;
      padding: 30px  0 0 0 ;
      font-size: 13px;
      text-align: center;
      color: gray;
      font-style: italic ;
      font-weight: bold;
  }
  
  a{
    color:rgb(63, 59, 245)  ;  
  }
  
  .forecast-day{
    text-align: center;
    color:rgb(134, 128, 128);
    font-size: 16px;
    line-height: 25px;
    margin-bottom: 10px;
  }
  .forecast-icon {
    font-size: 30px;
    text-align: center;
  }

  .forecast-temp{
text-align: center;
color: rgb(241, 47, 112);
margin-top: 10px;
display: flex;
justify-content: center;
  }

  .forecast-temps{
    padding: 0 10px;
  }

  .vanillaweather-forecast{
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
  }
  